<template>
  <el-menu default-active="0">
    <el-menu-item index="0" @click="changeCurrentView('dashboard')">
      <i class="el-icon-house"> </i>Dashboard</el-menu-item
    >
    <el-menu-item
      v-for="(nm, i) in EntityName"
      :key="i"
      :index="i + 1"
      @click="changeCurrentEntity(nm)"
    >
      <i class="el-icon-house"></i>{{ getName(nm) }}
    </el-menu-item>
  </el-menu>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { EntityName } from "../../lib/enums/entityName";
import caseChange from "../../lib/helperFns/caseChange";

export default defineComponent({
  data() {
    return {
      EntityName,
    };
  },

  props: {
    changeCurrentView: {
      type: Function,
      required: true,
    },
    changeCurrentEntity: {
      type: Function,
      required: true,
    },
  },

  methods: {
    getName(nm: string) {
      return caseChange.toUpperCamelCase(nm) + "s";
    },
  },
});
</script>
