<template>
  <el-container>
    <el-table :data="simplifiedAssets" stripe>
      <el-table-column prop="sno" label="ID" />
      <el-table-column prop="name" label="Asset" />
      <el-table-column prop="type" label="Type" />
      <el-table-column prop="startDate" label="Warranty Starts" />
      <el-table-column prop="endDate" label="Warranty Ends" />
    </el-table>
  </el-container>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    simplifiedAssets: {
      type: Array,
      required: true,
    },
  },
});
</script>
