<template>
  <el-container>
    <el-table :data="simplifiedAssetTypes" stripe>
      <el-table-column prop="id" label="ID" />
      <el-table-column prop="type" label="Type" />
      <el-table-column prop="description" label="Description" />
    </el-table>
  </el-container>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    simplifiedAssetTypes: {
      type: Array,
      required: true,
    },
  },
});
</script>
