<template>
  <el-container>
    <el-table :data="simplifiedDepartments" stripe>
      <el-table-column prop="id" label="ID" />
      <el-table-column prop="orgId" label="Organization ID" />
      <el-table-column prop="depName" label="Department" />
      <el-table-column prop="empList" label="Employees" />
      <el-table-column prop="assetList" label="Assets" />
    </el-table>
  </el-container>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    simplifiedDepartments: {
      type: Array,
      required: true,
    },
  },
});
</script>
