<template>
  <el-container>
    <el-table :data="simplifiedEmployees" stripe>
      <el-table-column prop="gid" label="ID" />
      <el-table-column prop="depId" label="Department ID" />
      <el-table-column prop="empName" label="Name" />
      <el-table-column prop="email" label="Email" />
      <el-table-column prop="phoneNo" label="Phone" />
      <el-table-column prop="assetList" label="Assets" />
    </el-table>
  </el-container>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    simplifiedEmployees: {
      type: Array,
      required: true,
    },
  },
});
</script>
