<template>
  <el-container>
    <el-table :data="simplifiedOrganizations" stripe>
      <el-table-column prop="id" label="ID" />
      <el-table-column prop="orgName" label="Organization" />
      <el-table-column prop="depList" label="Department Names" />
    </el-table>
  </el-container>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    simplifiedOrganizations: {
      type: Array,
      required: true,
    },
  },
});
</script>
