<template>
  <section class="dashboard">
    <div class="dashboard__text">
      <h1>Dashboard</h1>
    </div>
    <a
      class="dashboard__source button"
      href="https://gitlab.com/dupr0n/dvue"
      target="_blank"
    >
      Source Code
    </a>
    <!-- <el-table></el-table> -->
    <!-- <a @click="callFn" class="test__button button" href="#"> Test Code </a> -->
  </section>
</template>
