<template>
  <router-view />
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  data() {
    return {
      routeNames: this.$router.getRoutes().map((rte) => rte.name?.toString()),
    };
  },
});
</script>
