.dashboard {
    &__text {
        padding-bottom: 2rem;

        h1 {
            font-size: xx-large;
            font-weight: 400;
            color: $primaryColor;
            line-height: 1;
            text-align: center;
        }

        p {
            font-size: medium;
        }
    }


}