.el-menu {
    --el-menu-active-color: #287adf;
    --el-menu-text-color: $primaryTextColor;
    --el-menu-background-color: $tileBackgroundColor;
    --el-menu-hover-background-color: #414141;
    --el-menu-border-color: $tileBackgroundColor;

    &-item {
        font-size: small;
        font-weight: 500;
    }
}

.el-image {
    height: 1.5rem;
    width: 7rem;
}

.el-aside {
    overflow-y: visible;
    min-height: 100vh;
}

.el-header {
    padding: 0;
    height: 3rem;
}
