html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}

.company-logo {
    padding: 20px 10px;
    background-color: $logoBackgroundColor;
}

.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-jc-sa {
        justify-content: space-around;
    }

    &-ai-b {
        align-items: baseline;
    }

    &-ai-c {
        align-items: center;
    }

    &2 {
        flex: 2;
    }

    &3 {
        flex: 3;
    }

    &4 {
        flex: 4;
    }

    &5 {
        flex: 5;
    }

    &6 {
        flex: 6;
    }

    &7 {
        flex: 7;
    }

    &8 {
        flex: 8;
    }

    &9 {
        flex: 9;
    }
}

.button {
    padding: 0.875rem 2.1875rem;
    border-radius: 50px;
    background: linear-gradient($linkColor, $primaryColor);
    border: 0;
    color: $backgroundColor;
    font-weight: bold;
    cursor: pointer;

    &__signout {
        min-height: 3.5rem;
        margin-bottom: 0.8rem;
        background-color: $activeBackgroundColor;
        color: $primaryTextColor;
        border-top-color: $activeBackgroundColor;
        border-left-color: $activeBackgroundColor;
    }
}

.sticky {
    position: -webkit-sticky; // Safari
    position: sticky;
    top: 0;
}

.hide-for-mobile {
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(large) {
        display: none;
    }
}

.error-text {
    color: red;
    font-size: small;
    font-style: italic;
}

h1 {
    font-size: xx-large;
    font-weight: 400;
}

body {
    margin: 0;
    // padding: 1.0625rem 1.5rem;
    font-family: 'Public Sans', sans-serif;
    font-size: $font-med;
    font-weight: 300;
    background-color: $backgroundColor;
    color: $primaryTextColor;
    line-height: 1.3;
    min-height: 100vh;
    display: flex;

    &.no-scroll {
        overflow: hidden;
    }
}

input {
    // height: 2rem;
    font-size: large;
    padding: 10px;
    margin-bottom: 15px;
    background-color: $tileBackgroundColor;
    border-right-color: $tileBackgroundColor;
    border-bottom-color: $tileBackgroundColor;
    color: $primaryTextColor;

    &:focus {
        background-color: white;
        color: black;
    }
}