.header {
    nav {
        border-radius: 5px;
        padding: 0.5rem 0.25rem;
        position: relative;
        background-color: $backgroundColor;
    }

    &.open {
        .header__toggle {
            >span:first-child {
                transform: rotate(45deg);
            }

            >span:nth-child(2) {
                opacity: 0;
            }

            >span:last-child {
                transform: rotate(-45deg);
            }
        }
    }

    .overlay {
        opacity: 0;
        position: fixed;
        // 60px
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        // background-color: $primaryColor;
        background-image: linear-gradient($primaryColor, transparent);
    }

    &__search {
        height: 3.5rem;
        font-size: x-large;
    }

    &__logo {
        img {
            width: 7rem;
            height: 1.5rem;
        }
    }

    &__toggle {
        >span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: $primaryColor;
            transition: all $transition-med;
            transform-origin: 3px 1px;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }

    &__menu {
        // ^ This is done to bring this menu above the overlay
        position: absolute;
        // ^ Centering the box
        width: calc(100% - 3rem);
        left: 50%;
        transform: translateX(-50%);
        background-color: $backgroundColor;
        border-radius: 5px;
        padding: 1.625rem;
        margin-top: 1.5rem;

        a {
            display: block;
            color: $primaryTextColor;
            padding: 0.625rem;
            text-align: center;
        }
    }

    &__links {
        a {
            position: relative;
            font-size: $font-sm;
            color: $primaryColor;
            transition: color $transition-med ease-in-out;

            &:not(:last-child) {
                margin-right: 32px;
            }

            &::before {
                position: absolute;
                content: "";
                height: 5px;
                border-radius: 5px;
                left: 0;
                right: 0;
                bottom: -25px;
                background: linear-gradient(to right, $linkColor, $primaryColor);
                opacity: 0;
                transition: opacity $transition-med ease-in-out;
            }

            &:hover,
            &.clicked {
                color: $linkColor;

                &::before {
                    opacity: 1;
                }
            }
        }
    }

    &__cta {
        font-size: $font-sm;
        transition: opacity $transition-med ease-in-out;

        &:hover {
            opacity: 0.75;
        }

        // color: $backgroundColor !important;
    }
}