.tile {
    // max-width: 50rem;
    margin: 1rem 2rem;
    border-radius: 15px;
    background-color: $tileBackgroundColor;

    .usertouch {
        padding: 0.5rem 1.25rem;
    }

    h3 {
        margin: 0;
    }

    p {
        margin: 0;
        font-size: small;
    }

    a {
        color: $primaryColor;
    }

    &__id {
        font-style: italic;
    }

    &__title {
        color: $primaryTextColor;
        padding-bottom: 0.5rem;
    }

    &__body {
        text-align: center;
    }

    &__img {
        visibility: inherit;
    }

    &__list {
        padding: 10px;
        align-items: flex-start;
    }
}