$border: 2px solid rgba($color: white,
    $alpha: 0.35,
);
$size1: 6px;
$size2: 12px;
$size3: 18px;
$size4: 24px;
$size5: 48px;

$backgroundColor: #181924;
$activeBackgroundColor: #414141;
$logoBackgroundColor: #22222f;
$tileBackgroundColor: #2a2b36;
$primaryTextColor: #f2f1ff;
$secondaryTextColor: #1f2023;
$primaryColor: #a0a4d9;
$secondaryColor: #009999;
$linkColor: #287adf;

// Font Sizes
$font-sm: 0.875rem;     // 14px
$font-med: 1.125rem;    // 18px

// Transition Duration
$transition-med: 300ms
