<template>
  <el-container>
    <div>
      <PageAside
        class="sticky"
        :changeCurrentView="changeCurrentView"
        :changeCurrentEntity="changeCurrentEntity"
      />
    </div>
    <el-container direction="vertical">
      <PageHeader class="sticky" />
      <PageMain
        :fetchAllCES="fetchAllCES"
        :currentView="currentView"
        :currentEntity="currentEntity"
      />
    </el-container>
  </el-container>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import CES from "@/services/CommonEntityService";
import PageAside from "@/components/PageAside.vue";
import PageHeader from "@/components/PageHeader.vue";
import PageMain from "@/components/PageMain.vue";
import { EntityName } from "@/lib/enums/entityName";
import caseChange from "@/lib/helperFns/caseChange";
import AuthenticationService from "../services/AuthenticationService";

export default defineComponent({
  components: { PageAside, PageHeader, PageMain },
  data() {
    return {
      currentEntity: "none",
      currentView: "dashboard",
      entityNames: Object.values(EntityName),
    };
  },

  methods: {
    changeCurrentView(viewName: string) {
      this.currentView = viewName;
    },

    changeCurrentEntity(entityName: EntityName) {
      this.currentEntity = entityName;
      if (this.currentView !== "entity-view") this.currentView = "entity-view";
    },

    async fetchAllCES(entityName: string, page = 1, size = 5): Promise<any> {
      console.log("FetchAllCES called for entityName: " + entityName);
      for (let i in this.entityNames) {
        if (this.entityNames[i] === entityName) {
          let data = await CES.all(entityName, page, size);
          console.log(data);
          return data;
        }
      }
      return [];
    },

    toTitleFromEntityName(entityName: string): string {
      return caseChange.toPascalCase(entityName) + "s";
    },
  },
  beforeCreate(): void {
    AuthenticationService.checkLoggedIn().then((isAuth) => {
      // Should be "/signin"
      if (!isAuth) this.$router.push("/signin");
    });
  },
});
</script>
