<template>
  <el-container direction="horizontal">
    <div class="flex2"></div>
    <el-container class="flex-jc-c flex-ai-c" direction="vertical">
      <el-image src="siemens_logo.ico"></el-image>
      <h1>Please Sign In</h1>
      <input v-model="username" placeholder="Username" />
      <input type="password" v-model="password" placeholder="Password" />
      <p v-if="incorrectCredentials" class="error-text">
        Please enter correct credentials
      </p>
      <a @click="signIn" class="button" href="#">Sign In</a>
      <!-- <router-link to="/">Click here</router-link> -->
    </el-container>
    <div class="flex2"></div>
  </el-container>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import AuthenticationService from "../services/AuthenticationService";

export default defineComponent({
  setup() {
    return {
      username: ref(""),
      password: ref(""),
    };
  },

  data() {
    return {
      incorrectCredentials: false,
    };
  },

  methods: {
    async signIn(): Promise<void> {
      let userTokens = await AuthenticationService.login(
        this.username,
        this.password
      );
      if (userTokens.failure) {
        console.log("User Authentication failed.");
        this.incorrectCredentials = true;
      } else {
        console.log(userTokens);
        await this.$router.push("/");
      }
    },
  },

  async mounted() {
    let userTokens = await AuthenticationService.checkLoggedIn();
    console.log("Is logged in: " + userTokens);
  },
});
</script>

<style></style>
