<template>
  <el-main>
    <div v-if="currentView === 'entity-view'">
      <h1>{{ parseTitle(currentEntity) }}</h1>
      <el-row v-if="totalPages.get(currentEntity) != 1">
        <el-button-group>
          <el-button
            type="primary"
            @click="changePage(currentEntity, true)"
            :disabled="currentPages.get(currentEntity) == 0"
            ><el-icon class="el-icon--right"><ArrowLeft /></el-icon>
          </el-button>
          <el-button
            type="primary"
            @click="changePage(currentEntity, false)"
            :disabled="
              (currentPages.get(currentEntity) ?? 0) + 1 ==
              totalPages.get(currentEntity)
            "
            ><el-icon class="el-icon--right"><ArrowRight /></el-icon>
          </el-button>
        </el-button-group>
      </el-row>
      <el-divider />
      <div
        v-show="currentEntity === 'organization'"
        class="tile-container column"
      >
        <OrganizationView :simplifiedOrganizations="simplifiedOrganizations" />
      </div>
      <div
        v-show="currentEntity === 'department'"
        class="tile-container column"
      >
        <DepartmentView :simplifiedDepartments="simplifiedDepartments" />
      </div>
      <div v-show="currentEntity === 'employee'" class="tile-container column">
        <EmployeeView :simplifiedEmployees="simplifiedEmployees" />
      </div>
      <div v-show="currentEntity === 'asset'" class="tile-container column">
        <AssetView :simplifiedAssets="simplifiedAssets" />
      </div>
      <div
        v-show="currentEntity === 'asset-type'"
        class="tile-container column"
      >
        <AssetTypeView :simplifiedAssetTypes="simplifiedAssetTypes" />
      </div>
      <h4 v-if="totalPages.get(currentEntity) != 1">
        Page {{ (currentPages.get(currentEntity) ?? 0) + 1 }} out of
        {{ totalPages.get(currentEntity) }}
      </h4>
    </div>
    <div v-else><Dashboard /></div>
  </el-main>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import AssetType from "../lib/domain/AssetType";
import Asset from "../lib/domain/Asset";
import Employee from "../lib/domain/Employee";
import Department from "../lib/domain/Department";
import Organization from "../lib/domain/Organization";
import AssetTypeView from "./domain/AssetTypeView.vue";
import AssetView from "./domain/AssetView.vue";
import EmployeeView from "./domain/EmployeeView.vue";
import DepartmentView from "./domain/DepartmentView.vue";
import OrganizationView from "./domain/OrganizationView.vue";
import Dashboard from "../components/main/Dashboard.vue";
import caseChange from "../lib/helperFns/caseChange";
import {
  EntityName,
  EntityNameList,
  SimplifiedEntityNameList,
} from "../lib/enums/entityName";
import { ArrowLeft, ArrowRight } from "@element-plus/icons";

export default defineComponent({
  name: "EntityView",

  components: {
    AssetTypeView,
    AssetView,
    EmployeeView,
    DepartmentView,
    OrganizationView,
    Dashboard,
    ArrowLeft,
    ArrowRight,
  },

  props: {
    fetchAllCES: {
      type: Function,
      required: true,
    },
    currentView: {
      type: String,
      required: true,
    },
    currentEntity: {
      type: String,
      required: true,
    },
  },

  data() {
    return {
      assetTypes: [] as AssetType[],
      assets: [] as Asset[],
      employees: [] as Employee[],
      departments: [] as Department[],
      organizations: [] as Organization[],
      simplifiedAssetTypes: [] as any[],
      simplifiedAssets: [] as any[],
      simplifiedEmployees: [] as any[],
      simplifiedDepartments: [] as any[],
      simplifiedOrganizations: [] as any[],
      currentPages: new Map<String, number>(),
      totalPages: new Map<String, number>(),
      pageSize: 5,
    };
  },

  methods: {
    parseTitle(entityName: string) {
      return caseChange.toUpperCamelCase(entityName);
    },

    async fetchSpecificEntities(
      entityName: EntityName | string
    ): Promise<any[]> {
      const { currentPage, totalPages, content } = await this.fetchAllCES(
        entityName,
        this.currentPages.get(entityName) ?? 0,
        this.pageSize
      );
      this.currentPages.set(entityName, currentPage);
      this.totalPages.set(entityName, totalPages);
      console.log("FetchSpecificEntities called with content: ", content);
      const entities = (this[
        entityName === EntityName.ORGANIZATION
          ? EntityNameList.ORGANIZATION
          : entityName === EntityName.DEPARTMENT
          ? EntityNameList.DEPARTMENT
          : entityName === EntityName.EMPLOYEE
          ? EntityNameList.EMPLOYEE
          : entityName === EntityName.ASSET
          ? EntityNameList.ASSET
          : EntityNameList.ASSETTYPE
      ] = content.map((data: any) => {
        switch (entityName) {
          case EntityName.ASSETTYPE: {
            return new AssetType(data.id, data.type, data.description);
          }
          case EntityName.ASSET: {
            return new Asset(
              data.sno,
              data.name,
              data.startDate,
              data.endDate,
              data.assetType
            );
          }
          case EntityName.EMPLOYEE: {
            return new Employee(
              data.gid,
              data.empName,
              data.email,
              data.phoneNo,
              data.depId,
              data.assets
            );
          }
          case EntityName.DEPARTMENT: {
            return new Department(
              data.id,
              data.orgId,
              data.depName,
              data.assets,
              data.employees
            );
          }
          case EntityName.ORGANIZATION: {
            return new Organization(data.id, data.orgName, data.departments);
          }
          default:
            break;
        }
      }));
      return entities;
    },

    simplifyEntity(entityName: EntityName | string) {
      const entName =
        entityName === EntityName.ORGANIZATION
          ? SimplifiedEntityNameList.ORGANIZATION
          : entityName === EntityName.DEPARTMENT
          ? SimplifiedEntityNameList.DEPARTMENT
          : entityName === EntityName.EMPLOYEE
          ? SimplifiedEntityNameList.EMPLOYEE
          : entityName === EntityName.ASSET
          ? SimplifiedEntityNameList.ASSET
          : SimplifiedEntityNameList.ASSETTYPE;
      this[entName] = [];
      for (const ent of this[
        entityName === EntityName.ORGANIZATION
          ? EntityNameList.ORGANIZATION
          : entityName === EntityName.DEPARTMENT
          ? EntityNameList.DEPARTMENT
          : entityName === EntityName.EMPLOYEE
          ? EntityNameList.EMPLOYEE
          : entityName === EntityName.ASSET
          ? EntityNameList.ASSET
          : EntityNameList.ASSETTYPE
      ] as AssetType[] | Asset[] | Employee[] | Department[] | Organization[]) {
        switch (entityName) {
          case EntityName.ASSETTYPE: {
            this[entName].push(ent as AssetType);
            break;
          }
          case EntityName.ASSET: {
            const { sno, name, assetType, startDate, endDate } = ent as Asset;
            const type = assetType.type;
            this[entName].push({ sno, name, type, startDate, endDate });
            break;
          }
          case EntityName.EMPLOYEE: {
            const { gid, depId, email, empName, phoneNo, assets } =
              ent as Employee;
            const assetList = [];
            for (const j in assets) assetList.push(assets[j].name);
            this[entName].push({
              gid,
              depId,
              email,
              empName,
              phoneNo,
              assetList,
            });
            break;
          }
          case EntityName.DEPARTMENT: {
            const { id, orgId, depName, assets, employees } = ent as Department;
            const assetList = [],
              empList = [];
            for (const j in assets) assetList.push(assets[j].name);
            for (const j in employees) empList.push(employees[j].empName);
            this[entName].push({ id, orgId, depName, assetList, empList });
            break;
          }
          case EntityName.ORGANIZATION: {
            const { id, orgName, departments } = ent as Organization;
            const depList = [];
            for (const dep of departments) depList.push(dep.depName);

            this.simplifiedOrganizations.push({ id, orgName, depList });
            break;
          }
          default:
            break;
        }
      }
    },

    async changePage(entityName: string, isPrev: boolean) {
      this.currentPages.set(
        entityName,
        (this.currentPages.get(entityName) ?? 0) + (isPrev ? -1 : 1)
      );
      await this.fetchSpecificEntities(entityName);
      this.simplifyEntity(entityName);
    },
  },

  watch: {
    currentEntity: async function (entName) {
      if (entName !== "none") {
        await this.fetchSpecificEntities(entName);
        this.simplifyEntity(entName);
      }
    },
  },
});
</script>
