<template>
  <el-aside width="300px">
    <a href="#">
      <div class="company-logo flex flex-jc-c">
        <el-image src="siemens_logo.ico" fit="fill"></el-image>
      </div>
    </a>
    <AsideTile
      :changeCurrentView="changeCurrentView"
      :changeCurrentEntity="changeCurrentEntity"
    />
  </el-aside>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import AsideTile from "@/components/aside/AsideTile.vue";

export default defineComponent({
  components: { AsideTile },

  props: {
    changeCurrentView: {
      type: Function,
      required: true,
    },
    changeCurrentEntity: {
      type: Function,
      required: true,
    },
  },
});
</script>
