<template>
  <el-header class="row flex">
    <input placeholder="Search" class="header__search flex9" />
    <button @click="signOut" class="button__signout">Sign Out</button>
  </el-header>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import AuthenticationService from "../services/AuthenticationService";

export default defineComponent({
  setup() {
    return {
      input: ref(""),
    };
  },

  methods: {
    async signOut() {
      AuthenticationService.logout();
      await this.$router.push("/signin");
    },
  },
});
</script>
